*{
    margin: 0;
}
nav li {
    list-style: none;
    display: inline;
    font-size: 10px;
    margin-left: 15px;
    
}
nav li a{
    text-decoration: none;
}
nav li:hover{
    background-color: rgb(241, 205, 205);
    

}
footer{
    text-align: center;
    margin-top: 30px;
}